.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalCard {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modalCard h2 {
  margin-bottom: 0.5rem;
  color: #1a1a1a;
  font-size: 1.4em;
}

.modalCard p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #363636;
  font-weight: 400;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cancelButton,
.confirmButton {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #ccc;
  color: #000;
}

.confirmButton {
  background-color: #b71008;
  color: white;
}
