@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "Inter-italic";
  src: url("/Fonts/InterItalic.ttf");
  font-weight: 100 900;
}

:root {
  font-family: "Inter", "Segoe UI", Roboto;
  line-height: 1.5;
  font-weight: 100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ========== Colors Pallette ==========*/
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;

  --gray-100: #fafafa;
  --gray-700: #1d1f1f;
  --gray-800: #161717;
  --gray-900: #0a0a0a;

  --green-500: #21c063;
  --green-700: #144d37;
  --green-800: #103529;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #0b141a33 transparent;
}

html[data-color-mode="dark"] {
  color-scheme: dark;

  /* Page */
  --bg-page: var(--gray-800);
  --text-primary: var(--gray-100);

  /* Buttons */

  /* SideBar */
  --sidebar-background: var(--gray-700);
  --nav-buttons-text-color: var(--white-rgb);
  --nav-buttons-hover-color: var(--white-rgb);
  --nav-divider-icon-color: var(--white-rgb);
  --navbar-width: 64px;

  /* Vetical Divider */
  --conversation-header-border: rgba(var(--white-rgb), 0.15);

  /* Chat List Pannel */
  --bg-topbar-color: var(--gray-800);

  --bg-search-bar-color: rgba(var(--white-rgb), 0.1);
  --searchbar-text-color: rgba(var(--white-rgb), 0.6);
  --searchbar-inset-borderColor: var(--green-500);

  --chat-list-bg: var(--gray-800);
  --pill-buttons-border-color: rgba(var(--white-rgb), 0.1);
  --pill-buttontext-color: rgba(var(--white-rgb), 0.6);
  --pill-selected-bg: var(--green-800);
  --pill-hover-bg: rgba(var(--white-rgb), 0.1);

  --chatCard-bg: rgba(var(--white-rgb), 0.1);
}

html[data-color-mode="light"] {
  color-scheme: light;

  /* Page */
  --bg-page: var(--gray-100);
  --text-primary: var(--gray-800);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  background: var(--bg-page);
  color: var(--text-primary);
}

button {
  background-color: transparent;
  cursor: pointer;
}
