.settingsContainer {
  width: 100%;
  height: 100vh;
  border-left: 1px solid var(--conversation-header-border);
}

.topBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: var(--sidebar-background);
}

.topBarContainer h2 {
  font-weight: 400;
  font-size: 1em;
}

.cardsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.generalContainer {
  max-width: 510px;
  width: 100%;
}

.colorCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  width: 100%;
}

.colorCards div {
  height: 100px;
  border-radius: 20px;
  transition: all 0.1s ease;
}

.colorCards div:hover {
  box-shadow: inset 0 0 0 4px greenyellow;
  cursor: pointer;
}
