.chatbodyContainer {
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  border-right: 1px solid var(--chatbody-divider-color);
  /* min-width: 475px; */
}

.chatbodyWrapper {
  height: 100%;
  background-color: var(--chatbody-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.messagesContainer {
  height: 100%;
  width: 100%;
  padding-bottom: 12px;
  overflow-y: scroll;
}

.messagesContent {
  width: 100%;
  height: auto;
  padding: 0 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 12px; */
}

@media screen and (min-width: 1280px) {
  .messagesContent {
    padding: 0 63px;
  }
}

/* Footer Component */
.footer {
  min-height: 52px;
  flex-shrink: 0;
}

.ContainerBlur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.575);
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .ContainerBlur {
    /* visibility: hidden; */
    display: none;
  }
}
