.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, #3b0a50, #8e0e4f, #c44536, #ff8800); */

  background: linear-gradient(135deg, #e100ff, #2049ff, #0b7dff, #d9ff00);
  background-size: auto;
  /* background-position: center; */

  mask-image: url("/Backgrounds/WhapBg.png");
  mask-size: auto;
  opacity: 0.2;
  z-index: -10;
}
