.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.listContainer {
  padding: 4px 0;
  scrollbar-color: rgba(var(--white-rgb), 0.1) transparent;
  overflow-y: auto;
  background-color: var(--chat-list-bg);
  width: 100%;
}

.list {
  width: 100%;
  /* height: 7904px; */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.errorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 20px;
  text-wrap: wrap;
}

.errorContainer pre {
  text-wrap: wrap;
}
