.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--chat-list-bg);
}
